* {
    margin: 0;
    padding: 0;
    background-color: #16213E;
}

body {
    background-color: #16213E;
}

header, footer {
    position: absolute;
    width: 100%;
    background-color: purple;
}

header h2 {
    position: absolute;
    margin-top: 20px;
    left: 20%;
}

.card {
    background-color: red;
    flex-flow: wrap;
}

header {
    height: 10vh;
}

footer {
    height: 15vh;
    bottom: 0;
}

footer h2 {
    position: absolute;
    left: 45%;
}

.nav {
    position: absolute;
    width: 100%;
}

.logo-contrainer h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: 'montserrat';
    font-size: 32px;
}